<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sportID</key>
		<string>4</string>
		<key>sportName</key>
		<string>足球</string>
		<key>normalIcon</key>
		<string>normal_足球</string>
		<key>selectedIcon</key>
		<string>selected_足球</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>5</string>
		<key>sportName</key>
		<string>篮球</string>
		<key>normalIcon</key>
		<string>normal_篮球</string>
		<key>selectedIcon</key>
		<string>selected_篮球</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>6</string>
		<key>sportName</key>
		<string>乒乓球</string>
		<key>normalIcon</key>
		<string>normal_乒乓</string>
		<key>selectedIcon</key>
		<string>selected_乒乓</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>7</string>
		<key>sportName</key>
		<string>网球</string>
		<key>normalIcon</key>
		<string>normal_网球</string>
		<key>selectedIcon</key>
		<string>selected_网球</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>8</string>
		<key>sportName</key>
		<string>台球</string>
		<key>normalIcon</key>
		<string>normal_台球</string>
		<key>selectedIcon</key>
		<string>selected_台球</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>9</string>
		<key>sportName</key>
		<string>羽毛球</string>
		<key>normalIcon</key>
		<string>normal_羽毛球</string>
		<key>selectedIcon</key>
		<string>selected_羽毛球</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>10</string>
		<key>sportName</key>
		<string>跑步</string>
		<key>normalIcon</key>
		<string>normal_跑步</string>
		<key>selectedIcon</key>
		<string>selected_跑步</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>11</string>
		<key>sportName</key>
		<string>自行车</string>
		<key>normalIcon</key>
		<string>normal_自行车</string>
		<key>selectedIcon</key>
		<string>selected_自行车</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>12</string>
		<key>sportName</key>
		<string>游泳</string>
		<key>normalIcon</key>
		<string>normal_游泳</string>
		<key>selectedIcon</key>
		<string>selected_游泳</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>13</string>
		<key>sportName</key>
		<string>摄影</string>
		<key>normalIcon</key>
		<string>normal_摄影</string>
		<key>selectedIcon</key>
		<string>selected_摄影</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>14</string>
		<key>sportName</key>
		<string>健身</string>
		<key>normalIcon</key>
		<string>normal_健身</string>
		<key>selectedIcon</key>
		<string>selected_健身</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>15</string>
		<key>sportName</key>
		<string>美食</string>
		<key>normalIcon</key>
		<string>normal_美食</string>
		<key>selectedIcon</key>
		<string>selected_美食</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>16</string>
		<key>sportName</key>
		<string>登山</string>
		<key>normalIcon</key>
		<string>normal_登山</string>
		<key>selectedIcon</key>
		<string>selected_登山</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>17</string>
		<key>sportName</key>
		<string>汽车</string>
		<key>normalIcon</key>
		<string>normal_汽车</string>
		<key>selectedIcon</key>
		<string>selected_汽车</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>18</string>
		<key>sportName</key>
		<string>逛街</string>
		<key>normalIcon</key>
		<string>normal_逛街</string>
		<key>selectedIcon</key>
		<string>selected_逛街</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>19</string>
		<key>sportName</key>
		<string>攀岩</string>
		<key>normalIcon</key>
		<string>normal_攀岩</string>
		<key>selectedIcon</key>
		<string>selected_攀岩</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>20</string>
		<key>sportName</key>
		<string>其他</string>
		<key>normalIcon</key>
		<string>normal_其他</string>
		<key>selectedIcon</key>
		<string>selected_其他</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>21</string>
		<key>sportName</key>
		<string>海钓</string>
		<key>normalIcon</key>
		<string>normal_海钓</string>
		<key>selectedIcon</key>
		<string>selected_海钓</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>22</string>
		<key>sportName</key>
		<string>高尔夫</string>
		<key>normalIcon</key>
		<string>normal_高尔夫</string>
		<key>selectedIcon</key>
		<string>selected_高尔夫</string>
	</dict>
	<dict>
		<key>sportID</key>
		<string>23</string>
		<key>sportName</key>
		<string>跆拳道</string>
		<key>normalIcon</key>
		<string>normal_跆拳道</string>
		<key>selectedIcon</key>
		<string>selected_跆拳道</string>
	</dict>
</array>
</plist>
